In [1]:
import cdsapi

In [ ]:
c = cdsapi.Client()

dataset = 'reanalysis-era5-single-levels'

# nhiều năm
for year in range(2000, 2026):
     request = {
          'product_type': 'reanalysis',
          'variable': [
               '2m_temperature', 
               '2m_dewpoint_temperature',
               '10m_u_component_of_wind',
               '10m_v_component_of_wind',
               'total_precipitation',

          ],
          'date': f'{year}-01-01/{year}-12-31',
          'area': [23.5, 102, 8.5, 110],
          'format': 'netcdf', 
     }
     target = f'download_{year}.zip'
     print(f'Downloading {year}...')
     c.retrieve(dataset, request, target)
     print(f'Download for {year} completed.')

In [1]:
import xarray as xr
import pandas as pd

In [32]:
# mở file instant
ds_instant = xr.open_dataset("download_2025/data_stream-oper_stepType-instant.nc", engine='netcdf4')
# mở file accum
ds_accum = xr.open_dataset("download_2025/data_stream-oper_stepType-accum.nc", engine='netcdf4')
# gộp 2 dataset
ds = xr.merge([ds_instant, ds_accum])
# chuyển sang dataframe
df = ds.to_dataframe().reset_index()

# lưu csv
df.to_csv("era5_2025.csv", index=False)
df = pd.read_csv('era5_2025.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599874 entries, 0 to 599873
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   valid_time  599874 non-null  object
 1   latitude    599874 non-null  float64
 2   longitude   599874 non-null  float64
 3   number      599874 non-null  int64
 4   expver      599874 non-null  int64
 5   t2m         599874 non-null  float64
 6   d2m         599874 non-null  float64
 7   u10         599874 non-null  float64
 8   v10         599874 non-null  float64
 9   tp          599874 non-null  float64
dtypes: float64(7), int64(2), object(1)
memory usage: 45.8+ MB

In [26]:
import pandas as pd

df = pd.read_csv("data/example/kaggle/Algerian_forest_fires_dataset.csv")
# columns = ["Temperature","RH","Ws","Rain","FFMC","DMC","DC","ISI","BUI","FWI"]
columns = ['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes']

In [27]:
df.columns

Index(['day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes  '],
      dtype='object')

In [28]:
df.columns = ['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes']

In [29]:
df = df[columns]

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4   RH           245 non-null    object
 5   Ws           245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      245 non-null    object
dtypes: object(14)
memory usage: 27.1+ KB

In [31]:
df.isna().sum()

day            1
month          2
year           2
Temperature    2
RH             2
Ws             2
Rain           2
FFMC           2
DMC            2
DC             2
ISI            2
BUI            2
FWI            2
Classes        2
dtype: int64

In [32]:
df.dropna(inplace=True)

In [33]:
df.shape

(245, 14)

In [ ]:
matches = df[df['Temperature'] == 'Temperature']
print("Số dòng tìm được:", len(matches))
if len(matches) > 0:
    print(matches)

df = df[df['Temperature'] != 'Temperature'].copy()
df.reset_index(drop=True, inplace=True)

print("Kích thước sau khi loại bỏ:", df.shape)
df.head()

Số dòng tìm được: 1
     day  month  year  Temperature   RH   Ws   Rain  FFMC  DMC  DC  ISI  BUI  \
124  day  month  year  Temperature   RH   Ws  Rain   FFMC  DMC  DC  ISI  BUI

     FWI    Classes
124  FWI  Classes
Kích thước sau khi loại bỏ: (244, 14)

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,5,6,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [ ]:
# df[columns] = df[columns].apply(pd.to_numeric, errors='coerce')
# df.dropna(inplace=True)
# df[columns] = df[columns].astype(float)
# df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          0 non-null      float64
 1   month        0 non-null      float64
 2   year         0 non-null      float64
 3   Temperature  0 non-null      float64
 4   RH           0 non-null      float64
 5   Ws           0 non-null      float64
 6   Rain         0 non-null      float64
 7   FFMC         0 non-null      float64
 8   DMC          0 non-null      float64
 9   DC           0 non-null      float64
 10  ISI          0 non-null      float64
 11  BUI          0 non-null      float64
 12  FWI          0 non-null      float64
 13  Classes      0 non-null      float64
dtypes: float64(14)
memory usage: 0.0 bytes

In [35]:
df.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes'],
      dtype='object')

In [36]:
df.to_csv("data/data/test/test_2.csv", index=False)

In [25]:
df.shape

(0, 14)